.guide__wrapper {
    margin-top: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    &--right {
        
        display: flex;
        flex-direction: column;
        gap: 20px;
        &:hover{
            cursor: pointer;
        }
    }